:root {
  --color1: rgba(78, 83, 64, 1);
  --color2: rgba(105, 114, 104, 1);
  --color3: rgba(149, 163, 164, 1);
  --color4: rgba(183, 209, 218, 1);
  --color5: rgba(226, 232, 221, 1);
  --lod-text-color: var(--color5);
  --lod-bg-color: var(--color1);
  --lod-bg-color-highlight: var(--color3);
  --dol-text-color: var(--color1);
  --dol-bg-color: var(--color5);
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: 0;
  padding: 0;
}

body {
  color: var(--dol-text-color);
  background-color: var(--dol-bg-color);
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}

.file-selection-view {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.file-selection-icon {
  padding: 30px;
}

.file-selection-prompt {
  font-size: 1.2em;
}

.file-selection-input {
  opacity: 0;
  cursor: pointer;
}

.navigation-translated-layer,
.navigation-scaled-layer {
  transform-origin: top left;
}

.navigation-map-image {
  display: block;
  pointer-events: none;
}

.navigation-pin {
  position: absolute;
  top: -40px;
  left: -19px;
  pointer-events: auto;
}

.navigation-control-container {
  pointer-events: none;
}

.navigation-pin-icon {
  display: block;
}

.navigation-tool-box {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
  border-radius: 5px 0 0 5px;
  flex-flow: column;
  overflow: hidden;
  opacity: 0.8;
  pointer-events: auto;
}

.navigation-tool-button {
  border: 0;
  width: 40px;
  height: 40px;
  background-color: var(--lod-bg-color);
  outline: none;
}

.navigation-current-position-text {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 1.6em;
  line-height: 1.56em;
  text-align: center;
  font-size: 0.8em;
  color: var(--lod-text-color);
  background-color: var(--lod-bg-color);
  opacity: 0.8;
}

.templates {
  display: none;
}
